* {
	margin: 0px;
	padding: 0px;
	outline: none;
}
html {
	height: 100%;
	scroll-behavior: smooth;
}
body {
	height: 100%;
	width: 100%;
	background-color: #fbf6f2;
	float: left;
}
.clear {
	clear: both;
}

.container {
	height: auto;
	margin-top: 6%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Arial, sans-serif;
	flex-direction: column;
	padding-bottom: 5%;
	gap: 10px;
}

.generate {
	line-height: 2;
	font-size: 1.5rem;
	border-radius: 20px;
	text-align: center;
	padding: 0 20px;
	background-color: #fe9e92;
	color: white;
	cursor: pointer;
}
.generate:hover {
	background-color: #f67462;
}

#safe_title,
#date {
	font-size: 1.5em;
}
